{% extends 'shop/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load social_share %}

{% block title %}
    {% if category %}
    Gear-Academy | {{ category.name }}
    {% else %}
    Gear-Academy | Products
    {% endif %}
{% endblock %}

{% block content %}

<div class="container my-container">

  <div class="row justify-content-around">

    <div class="col-sm-12 col-md-4 col-lg-5 text-center">

      <div class="row justify-content-around productImage">
        <div class="col-sm-12 col-md-12 col-lg-9 text-center">
          {% for productsImage in productsImages %}
            {% if productsImage.product.id  == product.id %}
            <img id="mainImage"
            width="350" height="300"
            name="ImageDetail"
            src="{% if productsImage.image %} {{ productsImage.image.url }} {% else %} {% static 'http://placehold.it/700x400' %} {% endif %}"
            alt="">
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="row justify-content-center">
        {% for productsImage in productsImages %}
          {% if productsImage.product.id  == product.id %}
          <div class="col  text-center my-col-small">
            <img id="{{ productsImage.id }}"
            onclick="changeImage({{ productsImage.id }})"
            onmouseover="changeImage({{ productsImage.id }})"
            width="80" height="70"
            name="ImageDetailList"
            src="{% if productsImage.image %} {{ productsImage.image.url }} {% else %} {% static 'http://placehold.it/700x400' %} {% endif %}"
            alt="">
          </div>
          {% endif %}
        {% endfor %}
      </div>

    </div>

    <div class="col-sm-12 col-md-4 col-lg-4 text-left">

      <h3 class="font-weight-bold text-capitalize">{{ product.name }}</h3>
      <br>
      <a class="facebookShare" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_url }}" target="_blank">
        <li class="fa fa-facebook-square fa-3x"></li>
      </a>
      <hr class="style1">

      <h2 class="font-weight-bold text-capitalize text-danger">R {{ product.price }}</h2>
      <h6 class="my-text">{{ product.stock}} item{{ product.stock|pluralize }} left</h6>
      <h6 class="my-text">Shipping:  {{ product.shipping }}</h6>
      <h6 class="my-text">Warranty:  {{ product.warranty }}</h6>
      <h6 class="my-text">Barcode:  {{ product.barcode }}</h6>
      <h6 class="my-text">Hassle-Free Exchanges & Returns for 30 Days</h6>

    </div>

    <div class="col-sm-12 col-md-12 col-lg-3 text-center">

      <div class="card">

        <div class="card-body">

          <form action="{% url "cart:cart_add" product.id %}" method="post">
              {% csrf_token %}
              <p>
                  {{ cart_product_form|crispy }}
              </p>
              <button class="btn btn-primary btn-block"><i class="fa fa-lg fa-shopping-cart"></i> Add to cart</button>
          </form>

          <p class="my-text">{{ product.description|safe|linebreaksbr }}</p>

        </div>

      </div>

    </div>

  </div>

  <!-- <div class="row">
    {% include 'orders/order/adds.html' %}
  </div> -->

</div>



<script src="{% static 'shop/js/shop_JS.js' %}"></script>

{% endblock %}
