{% extends 'shop/base.html' %}
{% load static %}
{% load staticfiles %}
{% block title %}
    {% if category %}{{ category.name }} {% else %} Products {% endif %}
{% endblock %}


{% block content %}

<!--<div class="container-fluid catergories">-->
  <!--<div class="row catergories">-->
    <!--{% for c in categories %}-->
        <!--<div class="col-md-4 catergories">-->
            <!--<div class="card bg-dark text-white force-to-bottom">-->
                <!--<img src="{% if c.image %} {{ c.image.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}" alt="..." style="height: 300px; width: auto">-->

                <!--<div class="card-img-overlay">-->
                    <!--<div class="row justify-content-center">-->
                        <!--<a href="{{ c.get_absolute_url }}">-->
                            <!--<span class="input-group-btn">-->
                                <!--<button class="btn btn-default btn-lg catergoriesBtn" type="submit">{{ c.name }}</button>-->
                            <!--</span>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--{% endfor %}-->
  <!--</div>-->
<!--</div>-->




<div class="container">
  <div class="row">
    <div class="col-sm-8">
          <div class="container">
                <h4>Browse Our Range of Deals</h4>
                <div class="card-columns">
                    {% for product in products %}
                      <div class="card text-primary border-primary" style="max-width: 20rem;">
                        <a href="{{ product.get_absolute_url }}">
                          <div class="card-body productImage">
                            {% for productsImage in productsImages %}
                            {% if productsImage.product.id == product.id %}
                                    <img src="{% if productsImage.image %} {{ productsImage.image.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}" alt="..." style="height: 150px; width: auto">
                            {% endif %}
                            {% endfor %}
                            <a href="{{ product.get_absolute_url }}">
                                <p class="card-text">{{ product.name }}</p>
                                <h5 class="card-title">R {{ product.price }}</h5>
                            </a>
                          </div>
                        </a>
                      </div>
                      <br>
                    {% endfor %}

                  <br>
                </div>
          </div>

    </div>
    <div class="col-sm-4">
        <div class="container">
            <h4>Shop By Catergory</h4>
            <ol class="list-unstyled">
                <li {% if not category %} class="active"{% endif %}><a href="{% url 'shop:product_list' %}">All</a></li>
                {% for c in categories %}

                <li {% if category.slug == c.slug %} class="active"{% endif %}>
                  <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
                {% endfor %}
            </ol>
        </div>

    </div>
  </div>
</div>

<script src="{% static 'shop/js/shop_JS.js' %}"></script>

{% endblock %}
