{% extends 'shop/base.html' %}
{% load static %}
{% load staticfiles %}

{% block title %}
    {% if category %}
    Gear-Academy | {{ category.name }}
    {% else %}
    Gear-Academy | Products List
    {% endif %}
{% endblock %}


{% block content %}

<div class="container">

  <div class="row justify-content-around">

    <div class="col-sm-12 col-md-9 col-lg-9 text-center">

      <!-- I will display more categories using pills -->

        <nav class="">
          {% for c in categories %}
          <a class="breadcrumb-item" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
          {% endfor %}
        </nav>


    </div>

  </div>

      <br>

      {% for c in categories %}
      <!-- <div class="row justify-content-start">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <h3>
            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
          </h3>
          <h4>{{ c.slogan }}</h4>
        </div>
      </div> -->
      <div class="row justify-content-start productSection">
        {% for product in products %}
          {% if c.id == product.category.id %}
          <div class="col-12 col-sm-4 col-md-4 col-lg-4 card-product_list">
            <a href="{{ product.get_absolute_url }}">
              <div class="card h-100 productImage">
                {% for productsImage in productsImages %}
                  {% if productsImage.product.id  == product.id %}
                    <img id="{{ productsImage.id }}"
                    class="card-img-top img-fluid"
                    src="{% if productsImage.image %} {{ productsImage.image.url }} {% else %} {% static 'http://placehold.it/700x400' %} {% endif %}"
                    alt="">
                  {% endif %}
                {% endfor %}
                <div class="card-body text-center">
                  <p class="card-title">
                    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                  </p>
                  <h6>R{{ product.price }}</h6>
                </div>
              </div>
            </a>
          </div>
          {% endif %}
        {% endfor %}
      </div>
      {% endfor %}

    </div>

  </div>

</div>


<script src="{% static 'shop/js/shop_JS.js' %}"></script>

{% endblock %}
