.searchWidth {
    background-color: #eee;
    padding: 10px 10px 10px 20px;
}

.search_text {
    padding: 10px 10px 10px 20px;
}

.card-product_list {
  padding: 5px;
  /* margin-top: 10px */
}
.card-product_list:hover {
  border: 2px solid lightgrey;
}

.navbar {
  background-color: #0b3e6e;
  color: #EEE5E9;
  font-family: Poppins;
}

.navbar-toggler {
  background-color: #111;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Poppins;
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
}

.fa-shopping-cart {
    color: #eee;
}

.catergories {
    padding: 10px 10px 10px 20px;
}

.catergoriesBtn:hover {
    background-color: #d1647d;
    color: #F5F5F5;
}

.zoom {
    transition: transform .2s;
    margin: 0 auto;
}

.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

.carousel_image {
  padding: 0px 0px 0px 0px;
}

.body {
  padding: 30px;
}

.my-container {
  padding-top: 50px;
}

.my-row {
  padding: 5px;
}

.my-col {
  padding: 5px;
}

.my-col-small {
  border: 1px solid lightgrey;
  margin: 2px;
}

.my-col-small:hover {
  border: 3px solid lightgrey;
  margin: 2px;
}

.my-col-mainImage {
  padding: 10px;
}

.my-row-mainImage {
  justify-content:center;
}

.my-text {
  padding-top: 10px;
}

.myCard {
  padding: 20px
}

.btn-Checkout {
  margin-bottom: 10px
}

.myListGruopCheckOut {
  padding-top: 20px;
  padding-bottom: 20px;
}

.myFormCheckOut {
  padding-top: 20px;
  padding-bottom: 20px;
}

.myCard2 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.vl {
    border-left: 6px solid green;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.my_slider {
  /* background-color: teal; */
  padding-top: 20px;
}

.productSection {
  padding-bottom: 50px
}

.my-footer {
  /* position: relative; */
  background-color: lightgrey;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.container {
  /* background-color: pink; */
}

body {
  min-height: 100vh;
}

.comments_row {
  /* background-color: pink; */
  padding: 5px;
  margin-top: 10px;
  border: 1px solid lightgrey;
}

.blog_card {
  margin-top: 20px;
}

.blog_card_text {
  white-space: nowrap;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detail_hrLine{
  border: 1px solid lightgrey;
}

.my_link:link {
   text-decoration: none;
}

.blog_card1 {
  /* width: 250px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* text-align: center; */
}

.h1_text{
  margin-top: 20px;
}
