{% extends 'shop/base.html' %}
{% load staticfiles %}
{% block title %}
    My Account - {{ user }}
{% endblock %}


{% block content %}

<div class="container">

  <div class="row">

    <div class="col-sm-12 col-md-12 col-lg-12 text-center" style="padding: 20px">
      <h4>Hello {{ user.first_name }}, here are your orders</h4>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-12">

      {% for order in orders %}
        <div class="card">
          <div class="card-header myCard2">
            <div class="row">
              <div class="col-sm-12 col-md-4 col-lg-4 text-left">
                <p class="font-weight-bold">Order #{{ order.id }}</p>
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4">
                Ordered {{ order.created }}
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4">
                <p class="font-weight-bold">Status {{order.status}}</p>
              </div>

            </div>
          </div>
          <ul class="list-group list-group-flush">

            {% for orderItem in orderItems %}
              {% if order.id == orderItem.order.id %}
                <li class="list-group-item">
                  <div class="row justify-content-between">
                    <div class="col-sm-12 col-md-3 col-lg-3 productImage">
                      <a href="{{ orderItem.product.get_absolute_url }}">
                        {% for productImage in productImages %}
                          {% if productImage.product.id  == orderItem.product.id %}
                          <img id="{{ productsImage.id }}"
                          class="img-fluid"
                          src="{% if productImage.image %} {{ productImage.image.url }} {% else %} {% static 'http://placehold.it/700x400' %} {% endif %}"
                          alt="...">
                          {% endif %}
                        {% endfor %}
                      </a>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                      <a href="{{ orderItem.product.get_absolute_url }}">
                        <p class="font-weight-bold">{{ orderItem.product.name }}</p>
                      </a>
                      <p class="text-muted">Qty: {{ orderItem.quantity }}</p>
                      <p class="font-weight-bold">R {{ orderItem.price }}</p>
                    </div>
                  </div>
                </li>
              {% endif %}
            {% endfor %}




          </ul>
        </div>
        <br>
      {% endfor %}

    </div>

  </div>

</div>

<script src="{% static 'shop/js/shop_JS.js' %}"></script>

{% endblock %}
