{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
    Your Shopping Cart| Thank you
{% endblock %}

{% block content %}


<div class="container">

  <div class="row mb-5 my-row-cart">
    <div class="col-sm-12 col-md-12 col-lg-12 text-center">
        <!-- {% include 'orders/order/orderProgress.html' %} -->
        <ul class="progress-indicator">
          <li class="completed"> <span class="bubble"></span> Review your order. </li>
          <li class="completed"> <span class="bubble"></span> Payment. </li>
          <li class="completed"> <span class="bubble"></span> Done. </li>
        </ul>

    </div>
  </div>

  <div class="row mb-5 my-row-cart">

    <div class="col-sm-12 col-md-12 col-lg-12 text-center my-col-mainImage">
      <img src="{% static "img/checkMark.png" %}" alt="My image" width="80">
      <h2>Payment was successful.</h2>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-12 text-center">
      <p>An email about the details of your order will be sent soon. You can also sign in to your account and check your recent orders.</p>
    </div>

  </div>

  <div class="row justify-content-around">

    <div class="col-sm-12 col-md-3 col-lg-3 text-center" style="padding: 5px">
      <a href="{% url 'accounts:profile_view' %}" class="btn btn-outline-secondary btn-block" role="button">
        <!-- <i class="fa fa-lg fa-trash"></i> -->
        My Account
      </a>
    </div>

    <div class="col-sm-12 col-md-3 col-lg-3 text-center" style="padding: 5px">
      <a href="{% url 'shop:product_list' %}" class="btn btn-outline-success btn-block" role="button">
        <!-- <i class="fa fa-lg fa-trash"></i> -->
        Continue Shpping
      </a>
    </div>

  </div>

</div>

<br>

{% endblock %}
