{% extends 'shop/base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class="container">

  <div class="row mb-3">

    <div class="col-sm-12 col-md-12 col-lg-12 text-center h1_text">
      <h1>Set your Password</h1>
    </div>

  </div>

  <div class="row justify-content-around">

    <div class="col-sm-12 col-md-4 col-lg-4 text-center">

      <form method="POST" action="" enctype="multipart/form-data">
          {% csrf_token %}
          <p>
              {{ form|crispy }}
          </p>
          <div class="row justify-content-around">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
              <input class="btn btn-info btn-block" type="submit" value="Set new password" />
            </div>
          </div>

      </form>

    </div>

  </div>

</div>

{% endblock %}
