<!doctype html>
{% load static %}
{% load staticfiles %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CRoboto%7CJosefin+Sans:100,300,400,500" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>

  <body class="mainWindow d-flex flex-column">

    <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
        <a class="navbar-brand" href="{% url 'shop:product_list' %}">
        <!-- <img src="{% static 'img/Gear Academy.png' %}" width="40" height="35" class="d-inline-block align-top" alt=""> -->
        Gear-Academy
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item active">
                <a id="contact">Call: 082 904 6234</a>
            </li> -->

            </ul>
            <ul class="navbar-nav">
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="#">Hi {{ request.user.username }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:profile_view' %}">My Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:logout_view' %}">Sign Out</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact:contact_view' %}">Contact Us</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:login_view' %}">Sign In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:register_view' %}">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact:contact_view' %}">Contact Us</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:post_list' %}">Blog</a>
            </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "cart:cart_detail" %}">
                      <i class="fa fa-lg fa-shopping-cart"></i>
                      <span class="badge badge-success">
                        {% with totail_items=cart|length %}
                          {% if cart|length > 0 %}
                              {{ totail_items }}
                          {% else %}
                              0
                          {% endif %}
                        {% endwith %}</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>





    <!-- <div class="w-100 p-3 searchWidth"> -->

    <!-- <div class="row justify-content-around searchWidth">
      <div class="col-sm-8 col-md-6 col-lg-6 text-center">
        <form>
          <form class="form-inline my-2 my-lg-0">
              <div class="row">
                 <div class="col-md-12">
                  <div class="input-group input-group-lg">
                    <input type="text"
                           name="search"
                           class="form-control input-lg"
                           id="search-church"
                           value="{{ request.GET.search }}"
                           placeholder="Search">
                    <span class="input-group-btn">
                      <button class="btn btn-default btn-lg" type="submit"><i class="fa fa-lg fa-search"></i></button>
                    </span>
                  </div>
                </div>
              </div>

          </form>
      </div>
    </div> -->


    <!--<div class="container">-->
        <!--<div class="row" style="margin-top: 6%">-->
             <!--<button class="btn btn-info pull-right">-->
                <!--{% with totail_items=cart|length %}-->
                    <!--{% if cart|length > 0 %}-->
                        <!--My Shopping Order:-->
                        <!--<a href="{% url "cart:cart_detail" %}" style="color: #ffffff">-->
                            <!--{{ totail_items }} item{{ totail_items|pluralize }}, Zar. {{ cart.get_total_price }}-->
                        <!--</a>-->
                        <!--{% else %}-->
                        <!--Your cart is empty.-->
                    <!--{% endif %}-->
                <!--{% endwith %}-->
             <!--</button>-->
        <!--</div>-->
    <!--</div>-->





    <!-- <script src="{% static 'js/_myscript.js' %}"></script> -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- Go to www.addthis.com/dashboard to customize your tools --> 
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5bc6355c7f7f2503"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>


</html>
